doctype html
html(lang="en")

    head
        script(
            type='text/javascript'
            src='http://static.fusioncharts.com/code/latest/fusioncharts.js'
        )
    
    body
        div(id="chartContainer")

            script(
                type='text/javascript'
                src='fcScript.js'
                )

                